:root {
    --violet: #713FE1;
    --gold:  #948B0C;
    --yellow: #E0D63F;
}

body {
    background-color: var(--gold);
}

form {
    background-color: var(--violet);
}

.custom-background {
    background-color: var(--yellow);
    color: var(--violet);
    font-weight: bold;
}

.custom-card {
    background-color: var(--violet);
}

a {
    color: var(--gold);
}